<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../styles.css" type="text/css" >
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title><%= title %></title>
  </head>
  <body>
    <nav class="top">
      <ul>
        <img src="<%= img %>" alt="author's logo" class="logo"/>
        <li class="home"><a class="home" href="/" target="_self">Home</a></li>
        <li class="home"><a class="home" href="/projects" target="_self">My Projects</a></li>
        <li class="home"><a class="home" href="/about" target="_self">About Me</a></li>
        <li class="home"><a class="home" href="services.html" target="_self">Services</a></li>
        <li class="home"><a class="home" href="/contact" target="_self">Contact</a></li>
      </ul>
    </nav>
    <main class="homepage">
      <h1 id="name">Anthony McMellen</h1>
      <h2>Random Info</h2>
      <p><%= message %></p>
    </main>
  </body>
</html>
